

    <div class="row">
      <div class="col-lg-4">
        <H3> Plant Hire Request Form</H3>

          <div class="form-group">
            <label for="name">Email address</label>
            <input type="text" [(ngModel)]="query.name" class="form-control" id="name" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="startDate">Start Date</label>
            <input type="date" [(ngModel)]="query.startDate" class="form-control" id="startDate" placeholder="Enter Start Date">
          </div>
          <div class="form-group">
            <label for="endDate">End Date</label>
            <input type="date" [(ngModel)]="query.endDate" class="form-control" id="endDate" placeholder="Enter Start Date">

          </div>

          <button type="button" class="btn btn-primary" (click)="executeQuery()">Query Plant</button>
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-7">
        <H3> Result <br><span>Based on {{query|json}}</span></H3>
        <table class="table table-stripped" *ngIf="PlantServiceClass.plants.length!=0">
          <tr>
            <th>Name {{PlantServiceClass.plants.length}}</th>
            <th>Description</th>
            <th>Price</th>
          </tr>
          <tr  *ngFor="let plant of PlantServiceClass.plants">
            <td>{{plant.name}}</td>
            <td>{{plant.description}}</td>
            <td>{{plant.price}}</td>
          </tr>
        </table>
        <div *ngIf="PlantServiceClass.plants.length==0" class="alert alert-warning">
          <td>No Plant found</td>
        </div>

      </div>
    </div>
